.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: last baseline;
    position:relative;
    top: 250px;
    place-content: center;
    text-align: center;
}